* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.background_main {
  background-image: url("/images/fondo-pag-speciali.jpg");
}

.logo_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_logo {
  width: 250px;
}

.header_logo img {
  text-align: center;
  width: 100%;
}

.nav_bar_list {
  display: flex;
  justify-content: center;
}

.nav_bar_list li {
  padding: 0 5px;
}

.nav_bar_list li a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav_bar_list li a:hover {
  background-color: #A1CEE3;
}

.wrapper h2 {
  text-align: center;
}

.wrapper .list_type_pasta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper .list_type_pasta li {
  padding: 5px;
  width: 300px;
}

.wrapper .list_type_pasta li a {
  text-decoration: none;
}

.wrapper .list_type_pasta li .products_box {
  width: 100%;
}

.wrapper .list_type_pasta li .products_box h3 {
  text-align: center;
}

.wrapper .list_type_pasta li .products_box img {
  width: 100%;
}

.single_product_description {
  width: 100%;
  background-color: #B8DAE4;
}

.single_product_description h1 {
  color: #0B387A;
  text-align: center;
}

.single_product_description img {
  width: 100%;
}

.single_product_description .description {
  text-align: left;
  padding: 15px;
  font-size: 1.4rem;
}

.single_product_description .description ol {
  padding: 20px;
}

.wrapper_footer {
  display: flex;
  padding: 15px;
}

.wrapper_footer .footer_logo {
  width: 50%;
}

.wrapper_footer .footer_logo .footer_company_description {
  width: 70%;
}

.wrapper_footer .footer_logo .footer_company_description p {
  color: #BEC3CB;
}

.wrapper_footer .footer_links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper_footer .footer_links h4 {
  text-transform: uppercase;
  color: #BEC3CB;
  font-size: 1.5rem;
}

.wrapper_footer .footer_links div {
  margin: 5px 0;
  width: 50%;
}

.wrapper_footer .footer_links ul li {
  padding: 5px 0;
}

.wrapper_footer .footer_links ul li a {
  text-decoration: none;
  color: #BEC3CB;
}

.footer_background {
  width: 100%;
}

.footer_background img {
  width: 100%;
}

