* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// LIST

ul {
    list-style: none;


}

//CONTAINER

.container{
    max-width: 1080px;
    margin: 0 auto;
}

//background

.background_main{
    background-image: url("/images/fondo-pag-speciali.jpg");
}