.logo_wrapper {
    width: 100%;;
    display: flex;
    justify-content: center;
}

.header_logo {
    width: 250px;
    img {
        text-align: center;
        width: 100%;
    }
}

.nav_bar{
    &_list{
        display: flex;
        justify-content: center;
        li {
            padding: 0 5px;
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }

            a:hover {
                background-color: $softBlue;
            }
        }
    }
}