



.wrapper_home{
    
    h2{
        text-align: center;
    }
    .list_type_pasta{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
            padding: 5px;
            width: 300px;
    
            .products_box{
                h3 {
                    text-align: center;
                }
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        
    }
}